
/*Retira-se os pontos das listas*/
/*'#' chama o id (nome) da tag que foi definido*/
#menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

/*Coloca uma opção ao lado da outra usando o display flex com o justify content no centro da janela*/
#menu ul#listagem_opcoes {
    display: flex;
    padding: 0;
    margin: 0;
}

/*Coloca em posição relativa minhas listas com uma borda preta na direita*/
#menu li{
    position: relative;
}

/*Retira-se a decoração do texto e troca a cor para preto*/
#menu li a{
    color: black;
    text-decoration: none; 
    padding: 5px 10px; 
    display: block;
}

/*Ao passar o mouse sobre o link da lista troca a cor para amarelo*/
#menu li a:hover{
    color: greenyellow; 
}


/*Posiciona as listas em absolute, uma em baixo da outra, assim as opções ficam ordenadas, display none para que nao apareça na tela*/
#menu li ul {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background: white;
    padding: 0;
    border: 1px solid black;
}

/*mostra o display novamente quando passa com o mouse por cima da opção desejada*/
#menu li:hover ul{
    display: block;
}

/*Troca a cor do h1*/
h1{
    color: gold;
}

/*Defino os elemetos dentro da vitrine produtos para que estejam justificados no centro da tela*/
#vitrine_produtos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;   
}

/*Cada produto da minha classe produto tambem sera do tipo flex, para manter na mesma linha*/
.produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/*Defino a altura e largura da imagem que é colocada como produto na vitrine da loja*/
.produto img {
    width: 250px;
    height: 200px;
}

