
/*Centraliza o cabeçalho do site*/
#cabeçalho_site{
    display: flex;
    justify-content: center;
}

/*Retira-se os pontos das listas*/
/*'#' chama o id (nome) da tag que foi definido*/
#menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

/*Coloca uma opção ao lado da outra usando o display flex com o justify content no centro da janela*/
#menu ul#listagem_opcoes {
    display: flex;
    padding: 0;
    margin: 0;
}

/*Coloca em posição relativa minhas listas com uma borda preta na direita*/
#menu li{
    position: relative;
}

/*Retira-se a decoração do texto e troca a cor para preto*/
#menu li a{
    color: white;
    text-decoration: none; 
    padding: 5px 10px; 
    display: block;
}

/*Ao passar o mouse sobre o link da lista troca a cor para amarelo*/
#menu li a:hover{
    color: greenyellow; 
}


/*Posiciona as listas em absolute, uma em baixo da outra, assim as opções ficam ordenadas, display none para que nao apareça na tela*/
#menu li ul {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background: black;
    padding: 0;
    border: 1px solid black;
}

/*mostra o display novamente quando passa com o mouse por cima da opção desejada*/
#menu li:hover ul{
    display: block;
}

/*Troca a cor do h1*/
h1{
    color: gold;
}

/*Defino os elemetos dentro da vitrine produtos para que estejam justificados no centro da tela*/
#vitrine_produtos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;   
}

/*Cada produto da minha classe produto tambem sera do tipo flex, para manter na mesma linha*/
.produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/*Defino a altura e largura da imagem que é colocada como produto na vitrine da loja*/
.produto img {
    width: 250px;
    height: 200px;
}

/*Reposiciona os contatos da pagina*/
#contatos_da_pagina{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;  
}

/*Reposiciona as imagens que serão os ícones de contato da minha página*/
.contato{
    display: flex;

    /*Para que fique na mesma linha e centraliza no centro da página*/
    flex-direction: row;
    justify-content: center;

    /*Espaçamento*/
    gap: 20px;
}

/*Modifica o tamanho e altura das minhas imagens*/
.contato img{
    width: 50px;
    height: 50px;
}

/*Para o rodapé da pagina ser empurrado ao final dela*/
body {

    display: flex;

    /*Caso não tenha isso definido para o body, o rodapé irá ao canto inferior direito e irá influenciar nos outros elementos presentes na pagina*/
    flex-direction: column;

    /*Serve para empurrar ao fim da página os contatos das redes sociais*/
    min-height: 100vh;
    margin: 0;

    /*Adiciona a todo corpo da página a fonte arial*/
    font-family: Arial, sans-serif;

    /*Muda a cor do fundo*/
    background-color: black;
}

/*A classe do rodapé da pagina inicial é definida com margens no topo como automático, espaçamento e alinhamento do texto ao meio da página*/
.Rodapé_pagina_inicial{
    
    /*Muda a cor do fundo do meu rodapé*/
    background-color: rgb(64, 53, 53);
    
    /*Empurra ao final da página, aumenta um pouco a borda do rodapé (padding) e centraliza o texto*/
    margin-top: auto;
    padding: 10px 0;
    text-align: center;
}


/*Ao passar com o mouse por cima do botao de compra, o botao amplia*/
.link_de_compra:hover{
    transform: scale(1.2);
}

/*Animação básica para os links das redes sociais*/
.contato:hover{
    transform: scale(1.2);
}

/*Assim como a tag p do paragrafo dos valores, a tag span com as informações irá mudar de cor para ficar visivel na tela*/
span{
    color: yellow;
}

/*Muda todos os paragrafos para a cor amarelo*/
p{
    color: yellow;
}

/*Posiciona a caixa de busca no final da pagina*/
#botao_busca{
    position: absolute;
    right: 94px;
}

/*Arredonda as bordas das imagens*/
.produto img{   
    border-radius: 5px;
}

/*Adicioa efeitos ao passar o cursor por cima da imagem, um efeito de destaque*/
.produto img:hover{
    box-shadow: 0 5px 20px rgb(255, 255, 255);
}
